version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:4000" # Map the SSR server port
    environment:
      - NODE_ENV=production
    restart: always
