apiVersion: v1
kind: Service
metadata:
  name: kyosk-test-service
spec:
  type: NodePort
  selector:
    app: kyosk-test
  ports:
    - protocol: TCP
      port: 4000
      targetPort: 4000
      nodePort: 30080 # Expose on a specific NodePort (30080)
